.orgSideBarDiv{
    height: 100%;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    background-color: #1c1c1c;
    color: hsl(0deg 0% 92.9%);
    width: 15%;
}
.orgSideBarItemDiv:hover{
    cursor: pointer;
    color: hsla(0, 0%, 93%, 0.493);
}
.orgSideBarItemDiv{
    border-color: #2e2e2e;
    border-bottom-width: 1px;
    padding: 1.25em;
    width: 100%;
    color-scheme: dark;
    border-style: solid;
    height: 20%;
}