.organisationGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    overflow-y: scroll;
    width: 100%;
    margin-top: 1%;
}
.organisationPromiseGrid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  overflow-y: scroll;
  width: 100%;
  align-items: center;
}
.organisationPage{
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-direction: column !important;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 91vh;
}
.organisationItemGrid{
    width: 70%;
}
  .organisationItem {
  border-bottom: 1px solid grey;
  padding: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  color: white;
  height: 20%;
  }
  .organisationName {
    color: #2F81F7;
  }
  .organisationName:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .organisationHeader{
    color: white;
  }
  .organisationHeaderDiv{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1%;
  }
  .createOrgButton{
    background-color: white !important;
    color: black !important;
    border-radius: 10px !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  }
  .organisationSearchBar{
    width: 70%;
    display: flex;
    align-items: center;
    background-color: #24292e;
  }